{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="page-header">
        <h1>Login</h1>
    </div>

    <div class="row top_buffer">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <div class="row top_buffer">
        <div class="col-md-4">
            <p align="center" style="font-size:18px"><strong>OR</strong></p>
        </div>
    </div>

    <div class="row top_buffer">
        <div class="btn-group" role="group" aria-label="social_login">
            <a class="btn btn-default" href="{{ url_for('auth.oauth_authorize', provider='twitter') }}" role="button">LogIn with Twitter</a>
            <a class="btn btn-default" href="{{ url_for('auth.oauth_authorize', provider='google') }}" role="button">LogIn with Google</a>
        </div>
    </div>

{% endblock %}
